.card__like {
  width: 24px;
  height: 19px;
  background-color: transparent;
  border: none;
  background-image: url(../../../images/card/like/not-active-like.svg);
  background-position: center;
  background-repeat: no-repeat;
  transition: opacity .5s linear;
}

.card__like:hover {
  cursor: pointer;
  opacity: .6;
  transition: opacity .2s linear;
}
