.user__text-wrapper {
  position: relative;
  padding-left: 30px;
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
}

@media (min-width: 320px) and (max-width: 767px) {
  .user__text-wrapper {
    padding: 0;
    margin: 0 auto 36px;
  }
}
